.top-header {
  min-height: 400px;
  font: 'Source Sans Pro', cursive, sans-serif;
  display: flex;
  justify-content:space-between;
  align-items:center;
  flex-direction: column;
  margin-top: 120px;
  position:relative;
  width: 100%;
  background-color: #f5c400;
  background-image: url("https://www.transparenttextures.com/patterns/fake-luxury.png");
  padding: 2em;
}

.username {
  color: aliceblue;
}

@media screen and (min-width: 1024px) {
  .top-header {
    align-self: flex-start;
    max-width: 500px;
    
  }
}